@import 'root.scss';

.video {
	padding: 0.7rem 0;
	margin-bottom: 1rem;
	font-weight: 500;
	font-size: 0.9rem;
	cursor: pointer;

	&__top {
		margin-bottom: 0.5rem;
		position: relative;

		img {
			width: 100%;
		}

		span {
			position: absolute;
			bottom: 5px;
			right: 5px;
			background-color: $black-primary;
			color: #fff;
			padding: 2px;
			font-size: 12px;
		}
	}

	&__title {
		margin-bottom: 0.2rem;
		color: #fff;
		@include line-clamp(1);
	}

	&__detail {
		display: flex;
		align-items: center;

		span {
			&:first-of-type {
				margin-right: 5px;
			}
		}
	}
	&__chanel {
		display: flex;
		align-items: center;
		margin: 0.5rem 0;

		img {
			width: 36px;
			height: 36px;
			border-radius: 50%;
			margin-right: 0.5rem;
			cursor: pointer;
			object-fit: cover;
		}

		p {
			margin-bottom: 0;
		}
	}
}
