@import 'root.scss';

.subscription {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 90vh;
	color: #fff;

	&__icon {
		width: 120px !important;
		height: 120px !important;
		margin-bottom: 10px;
	}
	&__login-button {
		display: flex;
		align-items: center;
		font-weight: 600;
		margin-left: 0.5rem;

		button {
			background: transparent;
			border: 1px solid #3a95e3;
			padding: 0.2rem 0.5rem;
			color: #3a95e3;
			text-transform: uppercase;
			font-size: 15px;
			white-space: nowrap;
			.icon {
				margin-right: 0.2rem;
			}
		}
	}
}

@media (max-width: $break-point-small) {
	.subscription {
		&__icon {
			width: 60px !important;
			height: 60px !important;
		}
		p {
			font-size: 0.8rem;
			&:nth-of-type(2) {
				font-size: 0.6rem;
			}
		}
	}
}

@media (max-width: 320px) {
	.subscription {
		&__icon {
			width: 60px !important;
			height: 60px !important;
		}
		p {
			font-size: 0.7rem;
			&:nth-of-type(2) {
				font-size: 0.5rem;
			}
		}
	}
}
