@import 'root.scss';
.notFound {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;

	img {
		&:first-of-type {
			margin-bottom: 15px;
		}
	}
	p {
		text-align: center;
	}
	&__logo {
		width: 200px;
		height: 100px;
		object-fit: cover;
		display: block;
		margin-right: 0.5rem;
		cursor: pointer;
	}
}

@media (max-width: $break-point-medium) {
	.notFound {
		&__logo {
			margin-bottom: 0 !important;
		}
	}
}

// @media (max-width: 320px) {
// 	.subscription {
// 		p {
// 			font-size: 0.7rem;
// 		}
// 	}
// }
